*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background-color: teal;
    color: white;
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    z-index: 10
}

header input{
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
}

header .board_action{
    display: flex;
    align-items: center;
    gap: 10px;
}

header .new_board{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.filter_action{
    position: relative;
}

.filter_results{
    position: absolute;
    background-color: rgba(0, 128, 128, 0.466);
    top: 40px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease;
    transform-origin: top;
    transform: scale(1, 0);
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: none;
}

.results_list{
    list-style: none;
    padding: 10px;
    max-height: 100%;
    overflow-y: auto;
}

.results_list li{
    padding: 5px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.results_list li:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.02);
}

.container{
    position: relative;
    min-height: 100vh;
    background-color: azure;
}

.card{
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    resize: both;
    overflow: auto;
    scrollbar-width: none;
}

.card .drag-bar{
    height: 40px;
    cursor:move;
}

.palette{
    display: flex;
    gap: 5px;
    padding: 5px;
}

.palette span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.card-title{
    background-color: transparent;
    outline: none;
    border: none;
    height: 30px;
    font-size: 22px;
    padding: 5px;
    resize: none;
    scrollbar-width: none;
}

.card-date{
    padding-left: 5px;
}


.card-body {
    padding-left: 5px; 
    flex-basis: 100%;
    padding: 15px;
    overflow: hidden;
}

.card-body textarea{
    resize: none;
    display: block;
    width: 100%;
    min-height: 100%;
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    scrollbar-width: none;
}

.card-delete{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
}